<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Member_reg')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-member_reg" data-rule="required" class="form-control" name="row[member_reg]" type="number" value="{$row.member_reg|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Binding_phone')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-binding_phone" data-rule="required" class="form-control" name="row[binding_phone]" type="number" value="{$row.binding_phone|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Share')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-share" data-rule="required" class="form-control" name="row[share]" type="number" value="{$row.share|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Dianzan')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-dianzan" data-rule="required" class="form-control" name="row[dianzan]" type="number" value="{$row.dianzan|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Dianzan_num')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-dianzan_num" data-rule="required" class="form-control" name="row[dianzan_num]" type="number" value="{$row.dianzan_num|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Collection')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-collection" data-rule="required" class="form-control" name="row[collection]" type="number" value="{$row.collection|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Collection_num')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-collection_num" data-rule="required" class="form-control" name="row[collection_num]" type="number" value="{$row.collection_num|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Comment')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-comment" data-rule="required" class="form-control" name="row[comment]" type="number" value="{$row.comment|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Comment_num')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-comment_num" data-rule="required" class="form-control" name="row[comment_num]" type="number" value="{$row.comment_num|htmlentities}">
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
