<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="__CDN__/assets/home/css/base.css">
    <link rel="stylesheet" href="__CDN__/assets/home/css/common.css">
    <link rel="stylesheet" href="__CDN__/assets/home/css/swiper.min.css">
    <link rel="stylesheet" href="__CDN__/assets/home/css/canshu.css">
    <script type="text/javascript" src="__CDN__/assets/home/js/swiper.min.js"></script>
    <script type="text/javascript" src="__CDN__/assets/home/js/jquery-3.1.1.min.js"></script>
    <title>产品详情</title>
</head>

<body>
<header class="header">
    <img src="__CDN__/assets/home/images/back.png" alt="">
    产品详情
</header>
<div class="pro-details">
    <div class="pro-slide">
        <div class="swiper-container slide1">
            <div class="swiper-wrapper">
                {volist name="$data['images']" id="vo"}
                    <div class="swiper-slide">
                        <div class="pic-box">
                            <img src="{$vo}" alt="" class="object">
                        </div>
                        <div class="text">
                            {$data.name}
                        </div>
                    </div>
                {/volist}
            </div>
            <!-- Add Pagination -->
            <div class="swiper-pagination pagination1"></div>
        </div>
    </div>
    <div class="details">
        <div class="title">
            <img src="__CDN__/assets/home/images/detail.png" alt="">
            商品详情
        </div>
        <div class="parameter">
            <table class="reference notranslate">
                <tbody>
                <tr>
                    <th align="left">参数</th>
                    <th align="left">值</th>
                </tr>
                {volist name="$data['proparameter']" id="r"}
                    <tr>
                        <td>{$key}</td>
                        <td>{$r}</td>
                    </tr>
                {/volist}
                </tbody>
            </table>
        </div>
        <div class="content">
           {$data.content}
        </div>
    </div>
</div>
{include file="common/tel" /}
<script>
    var swiper = new Swiper('.slide1', {
        pagination: '.pagination1',
        paginationClickable: true
    });
</script>
<script type="text/javascript" src="__CDN__/assets/home/js/common.js"></script>
</body>

</html>