<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="__CDN__/assets/home/css/base.css">
    <link rel="stylesheet" href="__CDN__/assets/home/css/common.css">
    <script type="text/javascript" src="__CDN__/assets/home/js/jquery-3.1.1.min.js"></script>
    <title>购买页面</title>
</head>

<body>
<header class="header">
    <img src="__CDN__/assets/home/images/back.png" alt="">
    商品详情
</header>
<div class="add-form delivery">
    <form action="">
        <div class="content">
            <div class="title">
                收货信息
            </div>
            <div class="item item1">
                <div class="name" >
                    姓名：
                </div>
                <input type="text" name="username" value="" placeholder="请输入您的姓名" id="username">
            </div>
            <div class="item item2">
                <div class="name">
                    电话：
                </div>
                <input type="text" name="phone" value="" placeholder="请输入您的电话" id="phone">
            </div>
            <div class="item item6">
                <div class="spe-box">
                    <div class="name">
                        地址：
                    </div>
                    <div class="sele-box">
                        <select name="province" class="select">
                            <option value="省">省</option>
                            <option value="陕西省">陕西省</option>
                            <option value="山东省">山东省</option>
                            <option value="北京">北京</option>
                            <option value="广东省">广东省</option>
                            <option value="黑龙江省">黑龙江省</option>
                            <option value="吉林省">吉林省</option>
                        </select>
                        <select name="city" class="select">
                            <option value="市">市</option>
                            <option value="陕西省">陕西省</option>
                            <option value="山东省">山东省</option>
                            <option value="北京">北京</option>
                            <option value="广东省">广东省</option>
                            <option value="黑龙江省">黑龙江省</option>
                            <option value="吉林省">吉林省</option>
                        </select>
                        <select name="county" class="select">
                            <option value="县">县</option>
                            <option value="陕西省">陕西省</option>
                            <option value="山东省">山东省</option>
                            <option value="北京">北京</option>
                            <option value="广东省">广东省</option>
                            <option value="黑龙江省">黑龙江省</option>
                            <option value="吉林省">吉林省</option>
                        </select>
                    </div>
                </div>
                <div class="spe-input">
                    <input type="text" placeholder="请输入详细地址">
                </div>
            </div>
        </div>

    </form>
    <div class="purchase-pro combg">
        <div class="pro-info clearfix">
            <div class="pic-box combg">
                <img src="__CDN__/assets/home/images/pro-slide.png" alt="" class="compic">
            </div>
            <div class="item-info">
                <p class="name overflow">素硫酸钾钙镁钾钙镁酸钾钙镁钾酸钾钙镁钾</p>
                <p class="points">6390积分</p>
                <p class="row-price">
                    <span class="price">699元</span>
                </p>
            </div>
        </div>
    </div>
    <div class="purchase-info combg">
        <div class="row">
            <span>商品总额</span>
            <span class="num">6390</span>
        </div>
        <div class="row row2">
            <span>商品数量</span>
            <span class="num">×1</span>
        </div>
        <div class="row3">
            实支付：<span class="num">6390</span>
        </div>
    </div>
</div>

<div class="combtn pur-btn">
    <a href="./pointsSuccess.html">
        立即支付
    </a>
</div>
<script type="text/javascript" src="__CDN__/assets/home/js/common.js"></script>
</body>

</html>