<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="__CDN__/assets/home/css/base.css">
    <link rel="stylesheet" href="__CDN__/assets/home/css/common.css">
    <script type="text/javascript" src="__CDN__/assets/home/js/jquery-3.1.1.min.js"></script>
    <title>购买成功</title>
</head>

<body>
<header class="header">
    <img src="__CDN__/assets/home/images/back.png" alt="">
    产品
</header>
<div class="success">
    <div class="success-content combg">
        <div class="pic-box">
            <img src="__CDN__/assets/home/images/success-icon.png" alt="" class="compic">
        </div>
        <h3 class="name">
            兑换成功
        </h3>
        <p>相关工作人员正在为您配送中，请您耐心等待！</p>
        <a href="" class="success-btn">兑换列表</a>
    </div>
</div>


<script type="text/javascript" src="__CDN__/assets/home/js/common.js"></script>
</body>

</html>