<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="__CDN__/assets/home/css/base.css">
    <link rel="stylesheet" href="__CDN__/assets/home/css/common.css">
    <script type="text/javascript" src="__CDN__/assets/home/js/jquery-3.1.1.min.js"></script>
    <title>{$data.title}_{$site.name}</title>
</head>
<body>
<header class="header">
    <img src="__CDN__/assets/home/images/back.png" alt="">
    详情
</header>
<div class=" merchants article-page">
    <div class="content">
        <h3 class="title">
            {$data.title}
        </h3>
        <div class="time">
            <img src="__CDN__/assets/home/images/time.png" alt="">
            <span>发布时间：{$data.createtime|date="Y-m-d H:i:s",###}</span>
        </div>
        <div class="article">
            {$data.content}
        </div>
    </div>
</div>
<script type="text/javascript" src="__CDN__/assets/home/js/common.js"></script>
</body>

</html>