<footer class="footer">
    <a href="{:url('/')}" class="item item1 active">
        <div class="icon">
            <img src="__CDN__/assets/home/images/home-active.png" alt="">
        </div>
        <div class="name">{:__('Home')}</div>
    </a>
    <a href="{:url('index/product/index')}" class="item item2 ">
        <div class="icon">
            <img src="__CDN__/assets/home/images/product.png" alt="">
        </div>
        <div class="name">产品</div>
    </a>
    <a href="{:url('index/circle/index')}" class="item item3 ">
        <div class="icon">
            <img src="__CDN__/assets/home/images/circle_sel.png" alt="">
        </div>
        <div class="name">圈子</div>
    </a>
    <a href="{:url('index/user/index')}" class="item item4 ">
        <div class="icon">
            <img src="__CDN__/assets/home/images/profile.png" alt="">
        </div>
        <div class="name">我的</div>
    </a>
    <div class="put-away"></div>
</footer>